
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        width: 100%;
    }
    .wallpaperList{
       position: relative;
       width: 100%
    }
    .nothing{
        color : var(--main-color);
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
    }
    .spinner{
        color : var(--main-color);
        width : 100px;
        height: 100%;
        margin : 0 auto;
    }
}